/* Wrappers */
.wrapper_form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 73vh;
}

.form{
  height: auto;
  width: 100%;
}

.left_side {
  border-radius: 10px;
  border: 1px solid black;
  width: 25%;
  display: flex;
}

.right_side {
  border-radius: 10px;
  border: 1px solid black;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(29, 100%, 47%, 0.102);
  overflow-y: scroll;
}
/* SCROLL BARD  */
.right_side::-webkit-scrollbar {
  display: none;
}
.right_side {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* IMG */
.left_side img {
  margin-top: 25%;
  height: auto;
  width: 100%;
  align-self: center;
}

/* Input style */
.input-container {
  position: relative;
  margin-bottom: 25px;
}

.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 50%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-left: 25%;
  text-align: center;
}

.input-container input:focus {
  border: none;
  outline: none !important;
  border-bottom: 1px solid #3c4de793;
  background-color: hsla(29, 100%, 47%, 0.102);
}

/* Enlever les bordures bleues au click */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* test button*/
.add_button {
  height: 10%;
  width: 20%;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 40%;
}

.add_button:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.add_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.add_button:hover:before {
  left: 100%;
}


#textareaFormProduct{
  width: 50%;
  margin-left: 25%;
}

.label_area{
  margin-left: 25%;
  font-size: 1em;
}

/* media query 800px */